.fixed  .logo a img{
	margin-top:15px;
}

.object-visible .logo a img{
	margin-top:6px;
}

@media(max-width:767px){
	.fixed  .logo a img{
		margin-top:0;
	}
}

.subfooter .container{
	text-align:center;
}

.footer .logo-footer img {
	max-width:200px;
}

.box-style-1 i{
	font-size: 54px;
	line-height: 60px;
}

.product-detail-button{
	float:left;
	margin-right:5px;
}

.alert.alert-danger:after {
	 content: none;
}

.label-cart{
	margin-top:7px;
}

.input-cart{
	margin:3px 0;
}

.input-checkout{
	float:left;
	margin-right: 15px;
}