<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Conversion - Minimal</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
	<link href="css/style.css" rel="stylesheet"/>  
	<link href="css/colors/style-color-01.css" rel="stylesheet"/>    
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
</head> 
<body>

<div id="wrapper">

	<!-- Start Header -->
	<div id="header">
	
		<div class="container">
			<div class="row">
				<div class="span12">
				
					<h1><a href="#"><img src="images/logo.png" alt="Convert" /></a></h1>
					<h2 class="menulink"><a href="#">Menu</a></h2>
					
					<!-- Start Menu -->
					<div id="menu">
						<ul>  
							<li><a href="home.html">Home</a></li> 
							<li><a href="page.html">About</a></li> 
							<li><a href="page.html">Blog</a></li> 
							<li><a href="page.html">Pricing</a></li> 							
							<li class="current"><a href="page.html">Download App</a></li> 
						</ul> 
					</div> 
					<!-- End Menu -->
					
				</div>
				<div class="clearfix"></div>
			</div>
			
		</div>
	
	</div>
	<!-- End Header -->

	<!-- Start Content -->

		<div class="container">
				 
            <div class="row">
	        	
	        	<div class="span6">
	        	
	        		<div class="inner">
	        		
	        			<div class="hero">
	        		
	        			<h1>Create Something</h1>
						<h2>Quisque id tincidunt dui augue. Suspendisse non lorem vel diam consectetur posuere. Nam eu enim gravida risus vehicula posuere.</h2>
						
						<p><a href="#" class="btn btn-primary">Pricing</a> <a href="#" class="btn btn-secondary">Documentation</a></p>
						
						<p class="icons"> 
							<a href="#"><span class="glyph-item mega icon-social-youtube" aria-hidden="true" ></span></a>
							<a href="#"><span class="glyph-item mega icon-social-twitter" aria-hidden="true" ></span></a>
							<a href="#"><span class="glyph-item mega icon-social-tumblr" aria-hidden="true" ></span></a>
							<a href="#"><span class="glyph-item mega icon-social-facebook" aria-hidden="true" ></span></a>
							<a href="#"><span class="glyph-item mega icon-social-dropbox" aria-hidden="true" ></span></a>
							<a href="#"><span class="glyph-item mega icon-social-dribbble" aria-hidden="true" ></span></a>
						</p>
						
						</div>

	        			
	        		</div>
	        		
	        	</div>
	        	
	        	<div class="span6">
	        	
	        		<div class="inner">
	        		
	        			<div class="form-box">
	        			
	        				<div class="top">
		        			
		        				<h2><span class="glyph-item  icon-pencil" aria-hidden="true" ></span> Get in touch</h2>
		        				<p>Please complete the form and we will get back to you.</p>
		        				
	        				</div>
	        			
	        				<div class="bottom">
	        				
								<form method="post" action="#" name="example"> 
									
									<div class="form-row">							 
										<input id="user_name" placeholder="Your name" class="text login_input" type="text" name="user_name" required />
										<div class="clearfix"></div>
									</div>
									
									<div class="form-row">			 
										<input id="user_email" type="email" placeholder="Your email" class="text login_input" name="user_email" required />
										<div class="clearfix"></div>
									</div>  
									
									<div class="form-row">							 
										<textarea placeholder="Your message"></textarea>
										<div class="clearfix"></div>
									</div>
									    								
									<div class="form-row">					
										<input type="submit" name="register" value="Sign up now!" class="btn btn-wide" data-loading-text="Loading..." />
										<a href="#">Privacy Policy</a> | <a href="#">Terms &amp; Conditions</a>
										<div class="clearfix"></div>
									</div>  
									
								</form>
								
							</div> 
	        			
	        			</div>
	        			<div class="shadow"></div>
	        			<div class="clearfix"></div>
	        			
	        		</div>
	        		
	        	</div>
	        	
            </div>  
		
		</div>
	
	<!-- End content -->	

	<div class="clearfix"></div> 
		
</div> 

<div class="clearfix"></div> 

<!--[if lte IE 7]><script src="js/icons-lte-ie7.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/scripts.js"></script>
	 	        		
</body>
</html>
