body {
	padding: 0;
	margin: 15px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}

/* START:General CSS
*********************************************************************************/
.clr {
	clear: both;
}
fieldset {
	border: 0;
	margin: 3px 0;
	padding: 3px 0;
}
a {
	color: #666;
}
a img {
	border: 0;
}
h1 {
	color: #3B80BB;
	font-size: 17px;
	margin: 4px 0 8px 0;
}
h2 {
	color: #3B80BB;
	font-size: 19px;
	margin: 2px;
}
h3 {
	color: #3B80BB;
	font-size: 17px;
	margin: 0;
}
input,
select {
	padding: 4px 3px;
}
input[type="text"],
input[type="password"] {
	border: 1px solid #C6C6C6
}
#loginForm input[type="text"],
#loginForm input[type="password"],
input[type="text"] {
	width: 307px;
}
.inputStringMoney {
	width: 173px !important;
}
form {
	margin: 0;
	padding: 0;
}
p.warning,
p.error,
p.message,
p.notice,
p.information {
	margin: 5px;
	padding: 5px 5px 5px 35px;
}
p.warning,
p.error {
	background: url("cancel.png") #fcffd3 no-repeat 1% 50%;
	color: #CE0000;
	border: 1px solid #CE0000;
}
p.message {
	background: url("apply.png") #e0ffdf no-repeat 1% 50%;
	color: #006a25;
	border: 1px solid #006a25;
}
p.notice,
p.information {
	background: url("info-message.png") #f0f8ff no-repeat 1% 50%;
	color: #095694;
	border: 1px solid #5ca4e3;
}
.MainDiv {
	width: 985px;
	margin: 0 auto;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
}
.indexDiv {
	width: 965px;
	margin: 0 10px 20px 10px;
}
/********************************************************************************/

/* START:Tables
*********************************************************************************/
table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}
table thead {
	background: #95BCDC;
	height: 16px;
	margin: 0;
	padding: 0;
	color: #666;
	text-align: left;
}
table thead th {
	margin: 0;
	padding: 0 3px 0 0;
	white-space: nowrap;
	text-align: left !important;
}
tbody > tr {
	color: #787878;
}
.priorityListing > td,
.evenrow > td,
.oddrow > td {
	padding: 7px 0;
}
table thead th a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}
.tableLeft,
.tableRight {
	width: 8px;
}
.priorityListing a,
.evenrow a,
.oddrow a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.priorityListing a .strong,
.evenrow a .strong,
.oddrow a .strong {
	color: #666;
	font-size: 12px;
	text-decoration: underline;
}
.priorityListing .strong,
.evenrow .strong,
.oddrow .strong {
	color: #000;
}
.priorityListing a:hover .strong,
.evenrow a:hover .strong,
.oddrow a:hover .strong {
	text-decoration: none;
}
.evenrow,
.oddrow {
	margin: 0;
	padding: 0;
}
.evenrow {
	background: #FBFBFC;
}
.oddrow {
	background: #fff;
}
.priorityListing {
	background: #bbe2fd;
}
td.noTdPad {
	padding: 0 !important;
}
.align_right {
	text-align: right;
}
.saved-search-tbl {
	width: 60%;
}
/********************************************************************************/

/* START:Header
*********************************************************************************/
#logo {
	background: url("name-logo.png") no-repeat;
	width: 262px;
	height: 73px;
	float: left;
}
#header {
	background: url("header.png") repeat-x;
	height: 73px;
}
#header-right {
	color: #fff;
	width: 721px;
	float: right;
}
.welcome {
	text-align: center;
	float: left;
	margin: 5px 0 0 5px;
}
.welcome p {
	margin: 0;
	padding: 0;
}
#language {
	float: right;
	margin: 3px 10px 0 0;
}
#language select {
	padding: 0;
}
#user-menu {
	color: #fff;
	float: right;
	margin: 5px 5px 0 0;
}
/********************************************************************************/

/* START:Top Menu
*********************************************************************************/
#top-menu {
	float: right;
	margin: 30px 0 0;
}
.templateHighlight #top-menu {
	margin: 0;
}
#top-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#top-menu ul li {
	float: left;
	margin: 0 4px;
}
#top-menu ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-weight: bold;
}
li#dropDown {
	background: url("dropDownArrow.png") no-repeat right;
	padding: 0 20px 0 0;
}
li#dropDown ul a {
	color: #fff !important;
}
#top-menu li ul {
	background: #94b5d1;
	position: absolute;
	z-index: 10;
	left: -999em;
	width: 200px;
	height: auto;
}
#top-menu li li {
	border-top: 1px solid #fff;
	margin: 0;
	width: 200px;
}
#top-menu li li:hover {
	background: #d8e7f3;
}
#top-menu li li a:hover {
	color: #000 !important;
}
#top-menu li li a {
	color: #000;
	padding: 5px;
	text-align: left !important;
	text-decoration: none;
}
#top-menu li:hover ul,
#top-menu li li:hover ul,
#top-menu li li li:hover ul {
	left: auto;
	visibility: visible;
}
/********************************************************************************/

/* START:Main Page Structure
*********************************************************************************/
.left-col,
.right-col {
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
}
.left-col {
	width: 250px;
	margin: 0 0 0 5px;
}
.right-col {
	width: 720px;
	margin: 0 5px;
}
.banner {
	margin: 7px;
	text-align: center;
}
.quickSeachPanel {
	width: 510px;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.quickSeachPanel h1 {
	font-size: 27px;
	color: #6B6B6B;
}
.quickSeachPanel h2 {
	font-size: 24px;
	color: #5F9FC8;
}
/********************************************************************************/

/* START:Quick Search
*********************************************************************************/
#quick-search {
	width: 100%;
	background: #E7E7E7;
	overflow: hidden;
}
#quick-search select {
	width: 135px;
}
#quick-search input {
	width: 130px;
}
#quick-search fieldset {
	border: 0;
	margin: 16px 0 15px 0;
	color: #000;
}
.quick-search-label,
.quick-search-field {
	display: block;
	float: left;
	text-align: right;
}
.quick-search-label {
	width: 100px;
	line-height: 24px;
}
.quick-search-field {
	width: 137px;
	margin: 0 3px 0 2px;
}
.quick-search-field a {
	color: #000;
	font-size: 11px;
}
#count-listings {
	display: block;
	font-style: italic;
}
#count-listings .strong {
	color: #3B80BB;
}
/********************************************************************************/

/* START:Featured and Latest Jobs
*********************************************************************************/
.FeaturedCompaniesLogo {
	width: 170px;
	display: block;
	float: left;
	text-align: center;
	margin: 3px;
}
.featuredListings {
	width: 20%;
	float: left;
	margin: 5px 10px;
	padding: 0 0 0 5px;
}
.featuredListings a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
.blueBox {
	width: 98%;
	display: block;
	border: 1px solid #B8B8B8;
	background: #D8E7F3;
	overflow: hidden;
	padding: 10px 0;
	margin: 0 10px 0 0;
}
.blueBox h1 {
	color: #5F9FC8;
	font-size: 25px;
	font-weight: bold;
	margin: 0 0 10px 10px;
}
.RSS {
	display: block;
	float: right;
}
.RSS a {
	text-decoration: none;
	font-size: 12px;
	margin: 2px 5px 0 0;
}
.RSS img {
	vertical-align: top;
}
/********************************************************************************/

/* START:Employer and Job Seeker Block
*********************************************************************************/
.quickLinksPanel {
	width: 200px;
	float: left;
}
.quickLinksPanel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.quickLinksPanel ul li {
	margin: 0 0 0 3px;
}
/********************************************************************************/

/* START:Blog
*********************************************************************************/
.blogPost {
	overflow: hidden;
	padding: 3px 10px;
	line-height: 18px;
}
a.blogLink {
	color: #000;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}
.blogDate {
	float: right;
	color: #4c4c4c;
	font-weight: bold;
	font-size: 11px;
}
/********************************************************************************/

/* START:News
*********************************************************************************/
#news {
	padding: 0 10px;
}
.smallLink {
	font-size: 10px;
	float: right;
}
#news ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#news ul li {
	margin: 3px 0;
	padding: 3px 0;
	border-bottom: 1px dotted #ccc;
}
a.newsLink {
	text-decoration: none;
	font-weight: bold;
}
#newsCategory {
	display: block;
	float: right;
	border: 1px solid #C9C9C9;
	padding: 5px;
	margin: 0 0 0 10px;
	width: 200px;
}
#newsCategory a,
#newsCategory .strong {
	padding: 3px 0;
	display: block;
}
#newsCategory h3 {
	font-size: 13px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #C9C9C9;
}
#newsCategory a:hover,
#newsCategory .strong:hover {
	background: #f2f2f2;
	color: #000;
}
.newsItems {
	padding: 10px 0;
	border-bottom: 1px dotted #C9C9C9;
}
.newsItems h2 a {
	text-decoration: none;
}
.newsPreview {
	clear: both;
}
/********************************************************************************/

/* START:Browse by
*********************************************************************************/
.browseListing {
	margin: 0;
	padding: 0;
}
.browseListing li {
	list-style-type: none;
	margin: 5px 0 0 5px;
}
.browseListing a {
	margin: 0;
	padding: 5px 0 0 15px;
}
.browseListing a:hover {
	text-decoration: none;
}
.browseCompanyAB {
	float: left;
	padding: 5px;
}
/********************************************************************************/

/* START:Polls
*********************************************************************************/
#poll h2 {
	color: #3B80BB;
	font-size: 17px;
	margin: 4px 0 8px 0;
}
/********************************************************************************/

/* START:Mailchimp Newsletter
*********************************************************************************/
p.mailchimp-nl-desc {
	text-align: justify;
	margin: 5px 0;
}
#mch_email,
#mch_name {
	width: 240px;
}
#mailchimp-form label {
	display: block;
}
/********************************************************************************/

/* START:Footer
*********************************************************************************/
#footer {
	background: url("footer.png") repeat-x;
	width: 100%;
	height: 28px;
	text-align: center;
	font-size: 13px;
	line-height: 29px
}
#footer a,
#footer {
	color: #fff;
}
/********************************************************************************/

/* START:Input Fields
*********************************************************************************/
.inputName,
.inputField,
.inputReq {
	float: left;
}
.inputName {
	width: 23%;
}
.inputReq {
	width: 2%;
	color: red;
}
#Location {
	width: 313px;
}
#search_form .inputField,
.builder-col-wide .inputField {
	display: inline-block;
	width: 315px;
}
.search-only {
	width: 163px;
	white-space: nowrap;
	display: inline-block;
	margin: 0 0 0 1px;
	font-size: 11px;
	float: right;
	text-align: right;
}
#registr-form input[type="text"] {
	width: 313px;
}
.searchMoney {
	width: 35% !important;
}
#Salary_list,
#DesiredSalary_list {
	width: 125px;
	float: right;
}
.searchString {
	border: 1px solid #C6C6C6;
	width: 313px;
}
.salary-abbr {
	display: inline-block;
	width: 184px;
}
#uploadForm td input[type="text"] {
	width: 219px;
}
.ui-multiselect {
	min-height: 24px;
	padding: 4px 4px 4px 5px !important
}
/********************************************************************************/

/* START:Reports
*********************************************************************************/
#reports-navigation {
	font-weight: bold;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	margin: 0 0 15px 0;
}
#reports-navigation-in {
	background: -moz-linear-gradient(top,  #fafafa 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #fafafa 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #fafafa 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ededed',GradientType=0 );
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: left;
}
#reports-navigation-in-border {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	position: relative;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
}
#reports-navigation a:hover {
	background: #f2f2f2;
}
#reports-navigation .current {
	background: #e4e4e4;
	color: #7a7a7a;
	text-decoration: none;
}
#reports-navigation .current:hover {
	background: #e4e4e4;
}
#reports-navigation .middle-item {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#reports-navigation a {
	display: block;
	float: left;
	padding: 10px 25px;
	color: #585b62;
}
#reports {
	padding: 10px 0;
}
#reports form {
	margin: 0 0 5px 0;
}
#reports h2 {
	font-weight: normal;
	margin: 5px 0;
}
#reports td {
	padding: 5px;
}
#reports #quick-stats {
	width: 400px;
}
#reports #quick-stats td {
	border-bottom: 1px solid #DEDEDE;
}
#reports #general-stats {
	width: 600px;
}
#general-stats .general-stats-item,
#general-stats th {
	text-align: center !important;
}
#adSpaceAccount #reports-navigation,
#adSpaceAccount h3,
#adSpaceAccount h1 {
	display: none;
}
#adSpaceAccount #quick-stats {
	display: block;
	width: auto;
}
#my-account-stats {
	margin: 0 0 20px 0;
}
/********************************************************************************/

/* START:Browse by Company
*********************************************************************************/
.bcName,
.bcField {
	float: left;
}
.bcName {
	width: 15%;
}
.bcField {
	width: 40%;
}
.SearchResultsCompany .evenrow,
.SearchResultsCompany .oddrow {
	height: 30px;
}
.compLogo {
	background: #fff;
}
.compLogo,
.compLogo img {
	height: 40px;
}
/********************************************************************************/

/* START:Display Listing
*********************************************************************************/
.userInfo,
.listingInfo {
	float: left;
}
.userInfo {
	width: 260px;
}
.userInfo embed {
	width: 235px !important;
}
.listingInfo {
	width: 695px;
	margin: 0 0 0 10px;
}
.rightDisplaySIde {
	width: 460px !important;
}
.narrow-col .displayField embed {
	width: 90%;
	height: 250px;
	float: left;
	clear: both;
}
#company-profile-video a.player,
#company-profile-video embed,
#col-wide .displayField a.player,
#col-wide .displayField embed {
	width: 100%;
	height: 350px;
}
.narrow-col a.player {
	width: 95%;
}
#refineResults embed {
	width: 238px;
}
.page_navigator {
	padding: 0;
	margin: 0;
	float: right;
}
.page_navigator a:link,
.page_navigator a:visited,
.page_navigator a:hover {
	color: #666;
}
.listingLeftBlock {
	padding: 5px;
	width: 238px;
	max-width: 238px;
	float: left;
}
/********************************************************************************/

/* START:Company Profile
*********************************************************************************/
.compProfileTitle {
	background: #B4CEE4;
	color: #6994B8;
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	margin: 0 10px 0 0;
	padding: 0 3px 3px 3px;
	text-align: left;
	width: 244px;
	line-height: 35px;
}
.compProfileInfo {
	border: 1px solid #B4CEE4;
	width: 238px;
	padding: 5px;
}
/********************************************************************************/

/* START:My Account
*********************************************************************************/
.MyAccountHead h1 {
	color: #5F9FC8;
	font-size: 27px;
	padding: 20px 0 0 50px;
}
.leftColumnMA {
	width: 280px;
	padding: 0 0 0 50px;
	float: left;
	margin: 10px;
}
.rightColumnMA {
	width: 270px;
	padding: 0 0 0 10px;
	float: left;
	margin: 10px;
}
.leftColumnMA ul,
.rightColumnMA ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.leftColumnMA li,
.rightColumnMA li {
	margin: 10px 0;
	padding: 0;
}
.pm-sub-menu {
	font-size: 12px;
	line-height: 20px;
	margin: 3px 0 0 52px;
}
/********************************************************************************/

/* START:Recently view and Suggested Jobs
*********************************************************************************/
#recentlyViewedJobs,
#suggestedJobs {
	width: 457px;
	margin: 5px 10px;
	overflow: hidden;
}
#recentlyViewedJobs {
	float: left;
}
#suggestedJobs {
	float: right;
}
#suggestedJobs-title,
#recentlyViewedJobs-title {
	color: #5F9FC8;
	font-size: 16px;
	margin: 0 0 15px 0;
	border-bottom: 1px dotted #5F9FC8;
}
/********************************************************************************/

/* START:Sub-Account
*********************************************************************************/
#sub-accounts .inputName {
	width: 20%;
}
.sub-user-permissions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sub-user-permissions li {
	margin: 0 0 10px 0;
}
.subuser-cb-ul {
	list-style-type: none;
}
/********************************************************************************/

/* START:Accordeon
*********************************************************************************/
.page_button {
	background: #efefef;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
	margin: 10px 0;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
}
.page_button:hover {
	background: #e7e7e7;
}
.page_icon {
	display: inline-block;
	margin: 0 10px 0 0;
	color: #387bb1;
}
/********************************************************************************/

/* START:Contacts
*********************************************************************************/
#contactInfo {
	background: url("view-contact-bg.png") repeat-y;
	width: 707px;
	margin: 15px auto 0;
	overflow: hidden;
}
#contactInfo-in {
	background: url("view-contact-header.png") no-repeat top;
	width: 677px;
	overflow: hidden;
	padding: 30px 15px 15px;
}
#contactInfo-footer {
	background: url("view-contact-footer.png") no-repeat;
	width: 707px;
	height: 21px;
	margin: 0 auto;
}
#user-top {
	margin: 10px 0;
	overflow: hidden;
}
#contact-image {
	float: left;
}
#contact-image img,
#contact-image,
#cont-info-sendpm {
	width: 190px;
}
#contact-info {
	width: 450px;
	float: left;
	margin: 0 10px 0 0 ;
}
#contact-group {
	font-size: 13px;
	clear: both;
	overflow: hidden;
	margin: 10px 0;
}
#cont-info-sendpm {
	float: left;
	text-align: center;
	margin: 15px 0;
}
.contact-detail-cap {
	width: 30%;
	float: left;
	font-weight: bold;
}
.contact-detail-info {
	width: 70%;
	float: left;
}
#note-block {
	width: 440px;
	float: left;
	margin: 0 10px 0 0;
	padding: 15px 0;
	overflow: hidden;
}
#note-block span {
	margin: 2px 0;
	overflow: hidden;
	display: block;
}
#note-block span textarea {
	width: 98% !important;
}
#under-contact {
	overflow: hidden;
	clear: both;
}
/********************************************************************************/

/* START:Buttons
*********************************************************************************/
input.button,
input[type="submit"],
input[type="button"],
a.button,
input.standart-button,
a.standart-button {
	color: #fff !important;
	font-size: 12px !important;
	font-weight: bold;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
input.button,
input[type="submit"],
input[type="button"],
a.button {
	background: url("button.png") repeat-x;
	min-width: 90px;
	height: 24px;
	padding: 0 5px;
	text-transform: uppercase;
	border: 0;
	position: relative;
}
input.standart-button,
a.standart-button {
	background: url("gray-standart-button.png") repeat-x;
	min-width: 100px;
	height: 25px;
	padding: 0 10px;
	font-family: Arial, sans-serif !important;
	border: 1px solid #9f9f9f;
	text-transform: inherit !important;
}
input:hover.button,
input:hover[type="submit"],
input:hover[type="reset"],
input:hover[type="button"],
a:hover.button {
	background: url("button.png") repeat-x 0 -24px;
}
input.standart-button:hover,
a:hover.standart-button {
	background: url("gray-standart-button.png") repeat-x 0 -25px;
}
a.standart-button,
a.button {
	text-decoration: none !important;
	display: inline-block;
	text-align: center;
	line-height: 25px !important;
}
a.standart-button {
	color: #000;
	height: 23px;
}
a.button {
	color: #fff;
}
.preview-buttons {
	text-align: center;
	margin: 12px 0;
}
.apply-button,
input.buttonApply {
	float: right;
}
/********************************************************************************/

/* START:Job Import
*********************************************************************************/
.headrow td,
.headrow td a:link,
.headrow td a:visited,
.headrow td a:link,
.headrow td a:visited {
	font-size: 12px;
	color: #4e7391;
}
.headrow td {
	border-bottom: 2px solid #4e7391;
	font-weight: bold;
	padding: 0 0 3px 0;
}
/********************************************************************************/

/* START:Application
*********************************************************************************/
.pointedInListingInfo {
	border-bottom: 1px dotted #B2B2B2;
	padding: 3px 15px 3px 5px;
}
.pointedInListingInfo2,
.ApplicationPointedInListingInfo,
.ApplicationPointedInListingInfo2 {
	border-bottom: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}
.pointedInListingInfo2 {
	padding: 2px 4px;
}
.ApplicationPointedInListingInfo,
.ApplicationPointedInListingInfo2 {
	padding: 5px;
}
.ApplicationPointedInListingInfo a {
	text-decoration: underline;
	font-weight: normal;
}
.ApplicationPointedInListingInfo a:hover {
	text-decoration: none;
}
.ApplicationActions a {
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}
.ApplicationActions a:hover {
	text-decoration: underline;
}
.ApplicationPointedInListingInfo2 {
	border-left: 1px solid #B2B2B2;
}
.app-tracking {
	float: left;
}
.navigation-application,
.navigation-application .numberPerPage,
.navigation-application .pageNavigation {
	float: right;
}
.app-tracking p {
	margin: 7px 0;
}
.navigation-application .pageNavigation {
	margin: 10px 25px 10px 0;
}
/********************************************************************************/

/* START:Search Results Page
*********************************************************************************/
.topResultsLinks {
	width: 100%;
	display: block;
}
.topResultsLinks ul,
ul.listingLinksBottom,
.searchResultsHeaderLineNew ul,
.priorityListing ul,
.evenrow ul,
.oddrow ul {
	list-style-type: none;
	margin: 0;
}
.topResultsLinks ul,
.priorityListing ul,
.evenrow ul,
.oddrow ul {
	padding: 0;
}
.topResultsLinks ul li {
	float: left;
	margin: 0 15px 0 0;
}
.topResultsLinks ul li a,
.searchResultsHeaderLineNew ul li a {
	color: #666;
}
.searchResultsHeaderLineNew ul {
	padding: 5px 0 0 10px;
}
.searchResultsHeaderLineNew ul li {
	float: left;
	margin: 0 10px 0 0;
}
ul.listingLinksBottom {
	padding: 5px 0 0 8px;
	float: right;
}
.priorityListing ul li,
.evenrow ul li,
.oddrow ul li {
	float: left;
	margin: 0 15px 0 0;
}
.priorityListing ul li a,
.evenrow ul li a,
.oddrow ul li a {
	color: #444;
	font-weight: normal;
	font-size: 11px;
	text-decoration: underline;
}
.separateListing {
	border-bottom: 1px dotted #676767;
	margin: 0;
	padding: 0;
}
.comment {
	font-size: 12px;
	font-weight: bold;
	color :#A4BED5;
	padding: 0;
	margin: 0 0 5px 0;
	border: 1px solid;
}
.headerBgBlock .Results {
	color: #3B80BB;
	font-size: 17px;
	font-weight: bold;
	margin: 4px 0 8px;
}
#topResults {
	float: right;
	width: 100%;
	margin: 0 0 10px 0;
}
#topResults ul,
#endResults {
	font-size: 11px;
}
#refineResults {
	float: left;
	width: 200px;
}
#listingsResults {
	float: right;
	width: 755px;
}
#endResults {
	width: 100%;
	float: left;
	margin: 10px 0 0 0;
	font-size: 11px;
}
#endResults .listingLinksBottom {
	margin: 0 90px 0 0;
}
.noRefine #listingsResults {
	width: 100%;
}
.noRefine table {
	border: 1px solid #C9C9C9;
}
#displayListing #refineResults {
	width: 260px;
}
#displayListing #listingsResults {
	width: 705px;
}
.prevBtn a,
.nextBtn a {
	text-decoration: none;
}
.topNavBar {
	width: 965px;
	display: block;
	float: left;
	color: #666;
}
.topNavBarLeft,
.topNavBarRight {
	width: 8px;
	display: block;
	float: left;
}
.numberResults {
	width: 170px;
}
.numberResults,
.numberPerPage {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	line-height: 35px;
}
.pageNavigation {
	display: block;
	float: right;
	margin: 10px 10px 0 0;
	text-align: right;
}
.tableSRNavPerPage {
	float: left;
	margin: 0 30px 0 20px;
}
/********************************************************************************/

/* START:BreadCrumbs
*********************************************************************************/
.BreadCrumbs {
	color: #5F9FC8;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma, sans-serif;
}
.BreadCrumbs p {
	margin: 0 0 10px 0;
}
/********************************************************************************/

/* START:Refine Search / Current Search
*********************************************************************************/
#blockInner th {
	white-space: normal;
}
.refine_button,
.block_values_button {
	background: #EFEFEF;
	cursor: pointer;
}
.refine_button {
	margin: 5px 0 0 0;
}
.refine_icon {
	padding: 0 5px;
	display: block;
	float: left;
	width: 15px;
}
.refineItem {
	padding: 3px 0 0 5px;
	display: block;
	font-size: 11px;
}
.refineItem a,
.refine_res {
	font-size: 11px;
}
.refine_res a {
	color: blue;
	padding: 5px 0 0 0;
}
.refine_res a:hover {
	text-decoration: none;
}
.block_values_button {
	padding: 2px 0;
	margin: 5px 0;
}
/********************************************************************************/

/* START:Complex fields
*********************************************************************************/
.complex {
	border-bottom: 1px dotted #727272;
	padding: 10px 0;
	display: block;
	width: 565px;
}
.complex .inputName {
	width: 23%;
}
.complex .cke {
	margin: 5px 0 0 0;
}
#delete-promocode {
	display: inline;
	vertical-align: top;
}
.remove,
.add,
.complete {
	display: inline-block;
	text-decoration: underline !important;
}
.remove {
	background: url("delete.png") no-repeat 0 1px;
	padding: 1px 0 0 20px;
	margin: 0 0 5px 0;
}
a:hover.remove {
	text-decoration: none !important;
	color: red;
}
.add,
.complete {
	padding: 2px 0 0 20px;
	margin: 2px 0 5px 0;
}
.add {
	background: url("add.png") no-repeat left center;
}
a:hover.add,
a:hover.complete {
	color: green;
	text-decoration: none !important;
}
.complete {
	background: url("complete.png") no-repeat left center;
}
/********************************************************************************/

/* START:Icons
*********************************************************************************/
li.modifySearchIco,
li.saveSearchIco,
li.savedIco,
li.saved2Ico,
li.viewDetails,
li.viewVideo,
li.arrow {
	padding: 0 0 0 22px;
	background: url("icons.png") no-repeat;
}
li.modifySearchIco {
	background-position: 0 -34px;
}
li.saveSearchIco {
	background-position: 0 -67px;
}
li.savedIco,
li.saved2Ico {
	background-position: 0 -50px;
}
li.viewDetails {
	background-position: 0 -83px;
}
li.viewVideo {
	background-position: 0 -16px;
}
li.panelSavedIco,
li.panelViewDitailsIco,
li.printListingIco,
li.viewMapIco {
	padding: 12px 0 2px 35px;
	background: url("panel-icons.png") no-repeat;
}
li.panelSavedIco {
	background-position: 0 -30px;
}
li.panelViewDitailsIco {
	background-position: 0 -91px;
}
li.printListingIco {
	background-position: 0 0;
}
li.viewMapIco {
	background-position: 0 -121px;
}
li.arrow {
	background-position: 0 0;
}
li.ratingPanel,
li.pagging,
li.paggingBottom {
	color: #787878;
}
.ratingPanel p {
	float: left;
	margin: 0;
	padding: 0;
}
li.pagging {
	padding: 0 0 0 43px;
}
li.paggingBottom {
	padding: 0 23px 0 0;
}
.ModResults,
.Rating,
.Comments,
.Pagging {
	display: block;
	float: left;
}
.ModResults {
	width: 340px;
}
.Rating {
	width: 250px;
}
.Comments {
	width: 115px;
}
.Pagging {
	width: 195px;
}
.ModResults ul,
.Rating ul,
.Comments ul,
.Pagging ul {
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 8px;
	font-size: 11px;
}
.ModResults ul li,
.Rating ul li,
.Comments ul li,
.Pagging ul li {
	float: left;
	margin: 0 10px 0 0;
}

/********************************************************************************/

/* START:Payment Page
*********************************************************************************/
.sendPaymentTo {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
#formPayment .inputField input {
	width: 313px;
}
/********************************************************************************/

/* START:Invoice
*********************************************************************************/
#invoice-buttons {
	text-align: center;
	margin: 20px 0 0 0;
}
.paymentButton {
	min-width: 130px !important;
}
#invoice-billto,
#invoice-sendto,
#invoice-logo,
#invoice-info {
	margin: 10px 0;
	padding: 10px 5px;
}
#invoice-logo {
	width: 350px;
	float: left;
}
#invoice-info {
	width: 350px;
	float: right;
	text-align: right;
	line-height: 20px;
}
#invoice-billto {
	float: left;
}
#invoice-sendto {
	float: right;
}
#invoice-billto,
#invoice-sendto {
	border-top: 1px solid #d9d9d9;
	width: 380px;
	line-height: 22px;
}
#invoice-info .strong,
#invoice-billto .strong,
#invoice-sendto .strong {
	font-size: 18px;
}
table#invoice-table {
	width: 100%;
	font-size: 12px;
}
table#invoice-table tbody tr:hover {
	background: #f0f0f0;
}
table#invoice-table td {
	border: 1px solid #d9d9d9;
	padding: 5px 10px;
}
table#invoice-table tbody tr.invoice-table-head:hover,
table#invoice-table tr.invoice-table-head {
	background: #ededed !important;
}
table#invoice-table tr.invoice-table-head td {
	font-weight: bold;
	font-size: 13px;
	color: #000;
	height: inherit !important;
}
.invoice-amount-total {
	background: #f5f5f5;
	text-align: right;
	font-weight: bold;
}
.invoice-actions {
	text-align: center !important;
}
.invoice-form .inputName {
	width: 13%;
}
/********************************************************************************/

/* START:Notification Page
*********************************************************************************/
.notCheck,
.notDesc {
	display: block;
	float: left;
}
.notCheck {
	width: 4%;
}
.notDesc {
	width: 32%;
	line-height: 20px;
}
/********************************************************************************/

/* START:Instructions CSS
*********************************************************************************/
.instruction {
	position: relative;
	margin: 0 0 0 10px;
	float: left;
}
.instruction .instr_icon {
	background: url("instruction_16x16.png") repeat left top;
	float: left;
	height: 16px;
	width: 16px;
}
.instruction .instr_block {
	display: none;
	font-size: 11px;
	left: 18px;
	opacity: 0.9;
	position: absolute;
	top: 0;
	width: 275px;
	z-index: 1000;
}
.instruction .instr_arrow {
	background: url("orangeArrow.png") no-repeat 0 4px;
	float: left;
	height: 16px;
	width: 9px;
}
.instruction .instr_cont {
	padding: 0 7px;
	background: #eee;
	float: left;
	width: 250px;
}
/********************************************************************************/

/* START:Print Page
*********************************************************************************/
#print-button {
	width: 920px;
	margin: 0 auto;
}
.printPage {
	width: 920px;
	margin: 10px auto;
	overflow: hidden;
}
.printLeft {
	width: 190px;
	float: left;
	line-height: 20px;
}
.printRight {
	width: 700px;
	float: right;
}
.printRight .leftDisplaySIde {
	width: 170px;
	float: left;
	font-size: 11px;
}
.printRight .rightDisplaySIde {
	float: left;
	margin: 0 0 10px 0;
	width: 520px !important;
}
.printRight .clrBorder {
	clear: both;
	border-top: 1px dotted gray;
}
.printRight #col-wide .displayField {
	clear: both;
	margin: 8px 0 22px;
	overflow: hidden;
}
.printRight .narrow-col .displayFieldBlock {
	margin: 5px 0 0;
	overflow: hidden;
}
.printLeft h2 {
	margin: 2px 0 23px 0 !important;
	color: #000;
}
.printRight h2 {
	margin: 0 0 15px 0 !important;
}
/********************************************************************************/

/* START:Private Messages
*********************************************************************************/
#pmDetails #form_subject,
#pmDetails #form_to {
	width: 300px;
}
#pmDetails fieldset {
	border-bottom: 1px dotted gray;
	padding: 5px 0;
}
#pmDetails fieldset.reply {
	border: 0;
}
/********************************************************************************/

/* START:AdSpace
*********************************************************************************/
#adMargin {
	float: left;
	width: 570px;
}
#adSpace,
#adSpaceAccount {
	float: right;
}
#adSpace {
	width: 330px;
}
#adSpaceAccount {
	width: 300px;
}
/********************************************************************************/

/* START:Site Map
*********************************************************************************/
#siteMap {
	margin: 0 10px;
}
#siteMap table {
	border: 0;
}
#siteMap td {
	width: 20%;
	vertical-align: top;
}
#siteMap td .strong,
#siteMap td b {
	color: #000;
}
#siteMap table td p {
	margin: 5px 0;
	padding: 1px 0;
}
#siteMap table td a {
	background: url("grayArrow.png") no-repeat left;
	margin: 0 0 0 10px;
	padding: 0 0 0 13px;
}
/********************************************************************************/

/* START:Social Plugins
*********************************************************************************/
.apiCode span {
	display: inline;
}
.social_login_a,
.linkedinLink {
	display: block;
	height: 16px;
}
.social_login_a {
	float: right;
	margin: 0 0 0 15px;
	width: 16px;
}
.linkedinLink {
	line-height: 16px;
	margin: 10px 0;
	padding: 0 0 0 20px;
}
.in_share {
	float: left;
	margin: 0 6px 0 0;
	border: 0;
}
#social_autoFill {
	font-weight: bold;
	margin: 10px 0;
	padding: 0 0 0 21px;
	line-height: 16px;
}
.in_CompanyInsiderWidget,
.in_ProfileInsiderWidget {
	margin: 15px 0;
}
a.social_login_button {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0 !important;
	vertical-align: top;
}
.login_buttons_txt {
	line-height: 15px;
}
.slb_linkedin,
.slb_facebook,
.slb_google_plus,
.slb_google,
.facebook_16,
.linkedin_16,
.linkedin-icon,
.linkedinLogin {
	background: url("social/social.png") no-repeat;
}
.slb_linkedin,
.linkedin_16,
.linkedin-icon,
.linkedinLogin {
	background-position: 0 -38px;
}
.slb_facebook,
.facebook_16 {
	background-position: 0 0;
}
.slb_google_plus, .slb_google {
	background-position: 0 -19px;
}
.indexDiv .social_plugins_div {
	margin: 2px 0 0 0;
}
.social_plugins_div {
	font-weight: normal;
	margin: 0 0 0 13px;
	float: right;
	clear: both;
	font-size: 11px;
}
.soc_reg_form .social_plugins_div {
	float: none;
}
#registr-form {
	margin: 15px 0 0 0;
}
.linkedin-icon {
	padding: 3px 0 3px 20px;
}
#shareThis {
	clear: both;
	margin: 0 0 5px 0;
	padding: 15px 0 5px 10px;
}
.RightLink {
	float: right;
}
.RightLink a {
	font-size: 12px;
	font-weight: normal;
}
.ui-dialog .social_plugins_div {
	margin: 5px 0 0;
}
/********************************************************************************/

/* START:Browse By Tree
*********************************************************************************/
ul.browse_tree, ul.browse_tree * {
	list-style: none inside;
	margin: 0;
	padding: 0;
}
ul.browse_tree img.arrow {
	padding: 2px 0 0;
	border: 0;
	width: 15px;
}
ul.browse_tree li {
	padding: 0;
	clear: both;
}
ul.browse_tree li ul {
	padding: 0 0 0 20px;
	margin: 0;
}
ul.browse_tree label {
	cursor: pointer;
	padding: 0;
	margin: 0;
}
ul.browse_tree label.hover {
	color: red;
}
ul.browse_tree {
	margin: 5px 0;
}
ul.browse_tree li .arrow,
ul.browse_tree li .checkbox {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: left;
}
ul.browse_tree li .arrow {
	background: url("../../../../system/ext/jquery/ltL_nes.gif") no-repeat;
}
ul.browse_tree li .collapsed {
	background: url("../../../../system/ext/jquery/ltP_nes.gif");
}
ul.browse_tree li .expanded {
	background: url("../../../../system/ext/jquery/ltM_ne.gif");
}
ul.browse_tree li .checkbox {
	background: url("../../../../system/ext/jquery/cbUnchecked.gif") no-repeat center top;
}
ul.browse_tree li .checked {
	background: url("../../../../system/ext/jquery/cbChecked.gif");
}
ul.browse_tree li .half_checked {
	background: url("../../../../system/ext/jquery/cbIntermediate.gif");
}
div.browse_tree_button {
	cursor: pointer;
	width: 313px;
	height: 17px;
	padding: 3px 0 0 0;
	border: 1px solid #B3B3B3;
	color: #484846;
	font-size: 12px;
	background: url("../../../../system/ext/jquery/arrow_tree.png") right center no-repeat #fff;
}
.select-free-fix {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	width: 700px;
	display: none;
	height: 250px;
	background: #fff;
	padding: 0 0 2px 0;
}
.select-free-fix iframe {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	width: 3000px;
	height: 3000px;
}
.select-free-fix .bd {
	border: 1px solid #aaa;
	overflow: auto;
	height: 250px;
}
.treeContentDiv {
	margin: 3px 0 0 0;
	overflow-x: auto;
	width: 100%
}
/********************************************************************************/

/* START:Form Builder Fields
*********************************************************************************/
#form_builder .form-builder-cont {
	padding: 10px;
	display: none;
	width: 310px;
	float: left;
}
#displayJobsCol_Wide {
	width: 620px;
}
legend.fh-legend {
	display: none;
}
.ui-sortable {
	border: 1px dotted #ddd;
	margin: 10px 0;
	padding: 10px;
}
.ui-sortable legend.fh-legend {
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	color: #ddd;
}
.form-builder-cont legend {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.form-builder-cont fieldset {
	border: 1px dotted #fff;
}
.display-layout {
	margin: 0 auto;
	text-align: center;
	width: 296px;
}
.display-layout .layout-item {
	background: none;
	float: left;
	margin: 3px 0;
	padding: 0;
}
.narrow-col {
	width: 345px;
	float: left;
}
#displayResumeCol_Wide {
	width: 495px;
}
.builder-col-narrow {
	width: 265px;
}
a span.highlight {
	color: #666;
	text-decoration: underline;
}
a:hover span.highlight {
	text-decoration: none;
}
span.highlight {
	background: #FFFF00
}
.narrow-col h3 {
	float: left;
	margin: 0 5px 0 0;
	display: inline;
	font-size: 12px;
}
/********************************************************************************/

/* START:Google Map
*********************************************************************************/
#googleMap-links {
	float: right;
	margin: 0 0 5px;
	clear: both;
}
#googleMap-links a {
	font-size: 11px;
}
#googleMap-links a.listLink-active {
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}
#image_marker,
#image_marker_Resume {
	background: url("marker_orange.gif");
}
#image_marker_priority {
	background: url("marker_orange.gif");
}
#image_marker_indeed {
	background: url("marker_blue.gif");
}
#image_marker_simplyHired {
	background: url("marker_green.gif");
}
#image_marker_beyond {
	background: url("marker_gray.gif");
}
#image_marker,
#image_marker_Resume,
#image_marker_priority,
#image_marker_indeed,
#image_marker_simplyHired,
#image_marker_beyond {
	width: 22px;
	height: 32px;
	text-align: center;
	padding: 1px 0 0 0;
	font-size: 11px;
}
.listingsWithoutLocation,
.listingsWithoutLocation .strong,
.listingsWithoutLocation a,
.listingsWithoutLocation a .strong {
	color: #939393 !important;
}
.mapListings-results {
	font-size: 11px !important;
	overflow: hidden;
	margin: 5px 0;
	padding: 7px 5px;
	border-top: 1px dotted #a2aec3;
	border-bottom: 1px dotted #a2aec3;
}
.mapListings-results a .strong {
	font-size: 11px !important;
}
.mapListings-results:hover {
	background: #eef8ff !important;
}
#map {
	height: 615px;
	border: 1px solid #4b8d1f;
	margin: 0 0 0 20px;
}
#googleMap-searchResults {
	height: 520px;
	overflow-y: auto;
	margin: 0 0 10px 0;
}
#googleMap-pagging {
	text-align: center;
	margin: 0 0 10px 0;
}
#googleMap-pagging .nextBtn,
#googleMap-pagging .prevBtn,
#googleMap-pagging .navigationItems {
	clear: none;
	display: inline;
}
#googleMap-pagging .nextBtn,
#googleMap-pagging .prevBtn,
#googleMap-pagging .nextBtn a,
#googleMap-pagging .prevBtn a {
	background: none !important;
	color: #000 !important;
}
#googleMap-pagging .nextBtn,
#googleMap-pagging .prevBtn {
	margin: 0 1px;
}
#googleMap-pagging .nextBtn a,
#googleMap-pagging .prevBtn a {
	padding: 0 2px;
	text-transform: inherit;
}
a#listView-icon,
a#mapView-icon {
	padding: 2px 0 2px 20px;
	background: url("icons.png") no-repeat;
}
a#listView-icon {
	background-position: 0 -118px;
}
a#mapView-icon {
	background-position: 0 -100px;
}
/********************************************************************************/

/* START:Products Page and Shopping Cart
*********************************************************************************/
#shoppingCart {
	float: right;
	margin: 5px;
}
#shoppingCart a img {
	vertical-align: text-top;
}
.products {
	border: 1px solid #e3e3e3;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	width: 865px;
	float: left;
	padding: 10px;
	margin: 15px 40px;
	box-shadow: 0 0 4px #ddd;
}
.products:hover {
	border: 1px solid #a8d2ee;
	background: #eff8fe;
}
.productInfo {
	width: 580px;
	float: left;
	margin: 0 0 0 20px;
}
.productInfo a {
	text-decoration: underline;
}
.productInfo a:hover {
	text-decoration: none;
}
.productLinks {
	background: #d2edff;
	border: 1px solid #bcdef5;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	padding: 15px 10px;
	width: 160px;
	float: right;
	margin: 0;
	box-shadow: 0 0 2px #ddd;
}
.productLinks a {
	text-decoration: none;
}
.productLinks .button {
	margin: 5px 0 5px 0;
}
.productsPrice {
	font-size: 13px;
	margin: 0 0 10px 0;
}
#productDetails {
	line-height: 26px;
}
.productDetails-name {
	width: 140px;
	float: left;
	font-weight: bold;
	font-size: 13px;
}
.productDetails-info {
	float: left;
	display: inline;
	font-size: 13px;
}
.viewProductsPrice,
#volume_price {
	font-size: 14px !important;
	font-weight: bold;
}
#volume_price {
	display: inline;
	line-height: 18px;
}
#productsSelect {
	float: left;
	margin: 0 15px 0 0;
}
#productTotal {
	text-align: right !important;
	padding: 0 5px 0 0;
}
#total_price {
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}
.currentProducts-name {
	width: 250px;
	float: left;
	font-weight: bold;
	font-size: 13px;
	margin: 4px 0;
	padding: 0 15px 0 0;
}
.currentProducts-info {
	float: left;
	display: inline;
	margin: 4px 0;
	font-size: 13px;
}
#promotionCode {
	margin: 10px;
}
#promotionCode input#inputPromotionCode {
	width: 150px !important;
}
.productLinks .button {
	min-width: 160px;
}
.product-detail-button,
.continue-shopping {
	float: left;
	text-align: right;
	padding: 0 15px 0 0;
}
.continue-shopping {
	width: 50%;
}
#productDetails ~ table td input[type="text"] {
	width: 218px !important;
}
/********************************************************************************/

/* START:Profiler
*********************************************************************************/
.profiler {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 15;
}
.profiler * {
	margin: 0;
	padding: 0;
	border: none;
}
#blockResize {
	width: 100%;
	height: 10px;
	cursor: n-resize;
	display: none;
}
.profilerHead {
	margin: 0 auto;
	width: 100%;
	min-width: 960px;
	background: #222;
	border: 12px solid #000;
	border-bottom: none;
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
}
.profiler h3 {
	font-weight: normal;
	line-height: 200px;
	padding: 0 15px;
	color: #fff;
}
.profiler,
.profiler td {
	color: #444;
}
.logsBlock {
	height: 200px;
	display: none;
	overflow: auto;
	width: 99%;
}
.metrics {
	background: #000;
	width: 100%;
}
.functionsTab,
.queriesTab {
	border-top: 1px solid #ccc;
	overflow: auto;
	width: 100%;
}
.profiler .blue {
	color: #3769A0 !important;
}
.profiler .purple {
	color: #953FA1 !important;
}
.profiler .collapseTab {
	display: none;
	color: yellow;
	width: 2%;
}
.profiler,
.functionsTab,
.queriesTab {
	display: none;
}
.profiler,
.functions,
.queries,
.functions .functionsTab,
.queries .queriesTab {
	display: block !important;
}
.functions td.blue,
.queries td.purple {
	background: #222 !important;
	border-bottom: 6px solid #fff !important;
	cursor: default !important;
}
.metrics td {
	height: 40px;
	width: 20%;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
	border-bottom: 6px solid #444;
}
.metrics td:hover {
	background: #222;
	border-bottom: 6px solid #777;
}
.profiler var {
	font-size: 23px;
	font-weight: bold;
	font-style: normal;
	margin: 0 0 3px 0;
	display: block;
}
.profiler h4 {
	font-size: 12px;
	color: #fff;
	margin: 0 0 4px 0;
}
.profiler .main {
	width: 100%;
}
.profiler .main td {
	padding: 7px 15px;
	text-align: left;
	background: #151515;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px dotted #323232;
	color: #fff;
}
.profiler .main td,
pre {
	font-family: Monaco, "Consolas", "Lucida Console", "Courier New", monospace;
	font-size: 11px;
}
.profiler .main td b {
	float: left;
	font-weight: normal;
	color: #E6F387;
}
.profiler .main td:hover,
table.main thead td.currentColumn {
	background: #2E2E2E;
}
table.main thead td.currentColumn {
	color: #fff;
}
#infometr {
	width: 5%;
	cursor: default;
}
#infometr:hover {
	background: #000;
}
/********************************************************************************/

/* START:Custom Jquery
*********************************************************************************/
.ui-datepicker-trigger {
	position: relative;
	top: 2px;
	left: 3px;
	margin: 0 5px 0 0;
}
/********************************************************************************/

/* START:Pay pal pro
*********************************************************************************/
select#country,
select#card_type,
select#state {
	width: 315px !important;
}
select#exp_date_mm,
select#exp_date_yy {
	width: 125px !important;
}
input#state {
	border: 1px solid #C6C6C6;
	width: 313px;
}
/********************************************************************************/

/* START:Add/Edit Listing form
*********************************************************************************/
.input-form-bc {
	float: left;
}
#addListingForm {
	margin: 0 0 0 15px;
}
#addListingForm .inputName {
	width: 19%;
}
/********************************************************************************/

/* START:Cookie Preferences Slider
*********************************************************************************/
#cookiePreferencesSlider {
	height: 270px;
}
/********************************************************************************/

/* START:Highlight Templates Fix
*********************************************************************************/
#dropDown > .templateHighlight {
	top: -17px;
	position: absolute;
}
#dropDown > .templateHighlight ul {
	top: 36px;
}
.blueBox .templateHighlight .FeaturedCompaniesLogo {
	width: 168px;
}
/********************************************************************************/